.venv
# 不忽略指定文件夹下的某文件，则忽略整个文件夹时必须以 /* 结尾
.vscode/*
!/.vscode/launch.json

.env

# 忽略任意路径下 __pycache__ 文件
__pycache__

logs
*/*.log

node_modules
.idea
tmp

!/gansu_samr/logs
.python-version

JD/images
JD/result.csv